<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Dados da Solicitação</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="prestadorForm" (ngSubmit)="prestadoSubmit()">
            <div class="container mt-3">
                <div class="form-group">
                    <input type="text" class="form-control" id="cpf" aria-describedby="emailHelp" placeholder="CPF/CNPJ">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="prestador" placeholder="Nome do Prestador">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="profisional" placeholder="Nome do Profissional">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="codigo" placeholder="Código do Profissional">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="cep" placeholder="CEP">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="address" placeholder="Endereço">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="number" placeholder="Número">
                </div>
      
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
  </div>