
<div class="container">
    <div class="input-group mb-3" >
        <select class="custom-select" id="inputGroupSelect01"  >
        <option selected>Tipo de reembolso</option>
        <option *ngFor="let despensa of despensas" value="{{despensa.id}}">{{despensa.name}}</option>
        </select>
    </div>

    <div class="input-group mb-3" >
        <select class="custom-select" id="inputGroupSelect02"  >
        <option selected>Especialidade</option>
        <option *ngFor="let especialidade of especialidades" value="{{especialidade.id}}">{{especialidade.name}}</option>
        </select>
    </div>

    <div class="input-group mb-3" >
        <select class="custom-select" id="inputGroupSelect03"  >
        <option selected>Nome do Prestador </option>
        <option *ngFor="let prestador of prestadores" value="{{prestador.id}}">{{prestador.name}}</option>
        </select>
        <div class="input-group-append">
            <label class="input-group-text" for="inputGroupSelect02">+</label>
        </div>
    </div>

    <div class="input-group mb-3" >
        <select class="custom-select" id="inputGroupSelect03"  >
        <option selected>Nome do Profisional</option>
        <option *ngFor="let profisional of profisionales" value="{{profisional.id}}">{{profisional.name}}</option>
        </select>
        <div class="input-group-append">
            <label class="input-group-text" for="inputGroupSelect02">+</label>
        </div>
    </div>


    
</div>