
<div class="container mt-5 col-md-6">
    <form role="form" [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()">
    <div class="input-group mb-3" >
        <select class="custom-select" id="despensa" formControlName='despensa' >
        <option value="" selected disabled>Tipo de reembolso</option>
        <option *ngFor="let despensa of despensas" value="{{despensa.id}}">{{despensa.name}}</option>
        </select>
    </div>

    <div class="input-group mb-3" >
        <select class="custom-select" id="especialidade" formControlName='especialidade' >
        <option value="" selected disabled>Especialidade</option>
        <option *ngFor="let especialidade of especialidades" value="{{especialidade.id}}">{{especialidade.name}}</option>
        </select>
    </div>




    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nome do Prestador" aria-label="Default" aria-describedby="inputGroup-sizing-default"  list="prestadores" name="prestador" formControlName='prestador' (change)="selectName(prestador)" />
        <datalist id="prestadores">
            <select>
                <option *ngFor="let prestador of prestadores" value="{{prestador.name}}">{{prestador.name}}</option>
            </select>
        </datalist>
        <div class="input-group-append">
            <label class="input-group-text" for="inputGroupSelect02">+</label>
        </div>
      </div>


    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nome do Profisional" aria-label="Default" aria-describedby="inputGroup-sizing-default"  list="profisionales" name="profisional" formControlName='profisional' />
        <datalist id="profisionales">
            <select>
                <option *ngFor="let profisional of profisionales" value="{{profisional.name}}">{{profisional.name}}</option>
            </select>
        </datalist>
        <div class="input-group-append">
            <label class="input-group-text" for="inputGroupSelect02">+</label>
        </div>
      </div>
      

    <div class="mt-2 mb-2">
        <div class="drop-zone">
          <div ng2FileDrop [uploader]="uploader" class="drop-zone">
            Drag and drop files to upload
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row form-group mt-2 mb-2">
          <table class="table">
            <thead>
              <tr>
                <th scope="col-1">#</th>
                <th scope="col-10">File Information</th>
                <th scope="col-1">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <th scope="col-1 row">1</th>
                <td scope="col-10 ">
                  {{ item.file.name }}({{ item.file.size / 1000000 }} MB)
                </td>
                <td scope="col-1">
                  <mat-icon
                    (click)="item.remove()"
                    
                    >delete</mat-icon
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
        <div class="row">
            <div class="col-md-6 text-center align-self-end mb-3">
                <button 
                    type="button" 
                    class="btn btn-primary"
                    id="back"
                    name="back" 
                    >Voltar
                </button>
            </div>
            <div class="col-md-6 text-center align-self-end mb-3">
                <button 
                    type="button" 
                    class="btn btn-primary"
                    type="submit"
                    id="submit"
                    name="submit" 
                    >Enviar
                </button>
            </div>
          </div>
        </div>
      </form>
</div>