<section class="content services py-3 text-center dashboard">
    <div class="container">
      <div class="row">
        <div
            class="col-xs-12 col-sm-6 col-md-3"
        >
            <a class="text-body" href="#" routerLink="/beneficiários">
            <div class="card bg-light mb-3">
                <div class="card-body">
                <mat-icon color="primary">person_add</mat-icon>
                <h5>Registrar beneficiários</h5>
                </div>
            </div>
            </a>
        </div>
        <div
            class="col-xs-12 col-sm-6 col-md-3"
        >
            <a class="text-body" href="#" routerLink="/reembolsoFacil">
            <div class="card bg-light mb-3">
                <div class="card-body">
                <mat-icon color="primary">app_registration</mat-icon>
                <h5>Reembolso Facil</h5>
                </div>
            </div>
            </a>
        </div>
        <!-- <div
          class="col-xs-12 col-sm-6 col-md-3"
        >
          <a href="#" class="text-body" routerLink="/scan">
            <div class="card bg-light mb-3">
              <div class="card-body">
                <mat-icon color="primary">qr_code_scanner</mat-icon>
                <h5>Escanear QR Reembolso</h5>
              </div>
            </div>
          </a>
        </div> -->

        <!-- <div
          class="col-xs-12 col-sm-6 col-md-3"
        >
          <a href="#" class="text-body" routerLink="/billing">
            <div class="card bg-light mb-3">
              <div class="card-body">
                <mat-icon color="primary">document_scanner</mat-icon>
                <h5>Document scanner</h5>
              </div>
            </div>
          </a>
        </div> -->
      </div>
    </div>
  </section>
  